*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.login-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/362260406_1344773996387508_9026904267356960810_n.jpg?_nc_cat=101&cb=99be929b-59f725be&ccb=1-7&_nc_sid=730e14&_nc_ohc=I8AmDkS2KxIAX_iQsec&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfDYlrqh7sqHoj6OX4qg2dIYLBolYDKEzGdMvAP_G3Lb7Q&oe=64BE1004);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
} 

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: left 0.3s;
}

button:hover::before {
  left: 0;
}

button::after {
  content: "Login";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

button:hover::after {
  opacity: 1;
}

button:active {
  transform: scale(0.95);
  background-color: #408e40;
}